body {
    margin: 0;
    background: #f1f0ea;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 29px;
}

a {
    color: white;
    text-decoration: underline;
}

h2 {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px 0 20px;
    text-align: center;
}

.profile-container {
    margin: 20px auto auto auto;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: url("images/profile.jpg");
    background-size: contain;
    box-shadow: 0 0 0 3px #534b52;
}

nav {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    background: #534b52;
    color: white;
}

.nav-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;

}

.nav-content a:hover {
    color: #2d232e;
    transition: all;
    transition-duration: 200ms;
}

.nav-name {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.nav-icons {
    display: flex;
    gap: 20px;
}

.nav-icon {
    color: white;
    width: 30px;
    height: 30px;
}

footer {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    background: #534b52;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    align-items: end;
}

.footer-content p {
    margin: 0
}

.footer-content a {
    text-decoration: none;
}

/* Projects page styling */
.projects-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.project-image-container {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 0 3px #534b52;
    flex-shrink: 0;
}

/* Desktop styles go here */
@media (min-width: 1024px) {
    .profile-container {
        margin: 20px 0 0 0;
    }

    .container {
        text-align: left;
        max-width: 800px;
        margin: 0 auto;
        padding: 0;
    }

    .project {
        margin: 40px 0;
        flex-direction: row;
    }
}