body {
    margin: 0;
    background: #f1f0ea;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.profile-container {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: url("images/profile.jpg");
    background-size: contain;
    box-shadow: 0 0 0 3px #534b52;

}

nav {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    background: #534b52;
    color: white;
}

.nav-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
}

.nav-name {
    color: white;
    font-weight: 600;
}

.nav-icons {
    display: flex;
    gap: 20px;
}

.nav-icon {
    color: white;
    width: 30px;
    height: 30px;
}